{% extends 'base.html' %}
{% load staticfiles %}
<!-- would typically have a namespace
to the app (subfolder of templates) -->

{% block content %}
  <div class="cats-list col s12 m6">
    {% for cat in cats %}
    <a href="/{{cat.id}}">
    <h3>Name: {{cat.name}}</h3>
    </a>
    <a href="/user/{{cat.user.username}}">
    <p>Adobed By: {{ cat.user.username }}</p></a>
    <ul>
      <li>Description: {{cat.description}}</li>
      <li>Breed: {{cat.breed}}</li>
      {% if cat.age > 0 %}
      <li>Age: {{cat.age}}</li>
      {% else %}
      <li>Kitten</li>
      {% endif %}
    </ul>
    <a class="waves-effect waves-light btn like" data-id="{{cat.id}}">
      Likes: {% if cat.likes > 0 %} {{ cat.likes }} {% else %} None {% endif %}
    </a>
    <hr/>
    {% endfor %}
  </div>
  <div class="cat-form col s12 m6">
    <h3> Add a new cat </h3>
    <form class="" action="post_cat/" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="submit"/>
    </form>
  </div>
{% endblock %}
